/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}

:root {
	--theme-font-family-base: 'Inter', sans-serif;
	--theme-font-family-heading: 'Inter', sans-serif;
	--color-background: #f0f0f0;
}
